
.playpen-sans{
  font-family: "Playpen Sans", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.monoton-regular {
  font-family: "Monoton", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1, h2 {
  font-family: "Monoton", sans-serif;
  color: #c96a2b;
  background-color: antiquewhite;
}

h1{
  font-size: 2em;
}
h2{
  font-size: 1.5em;
}
p{
  font-size: 1em;
  line-height: 1.5em;
  max-width: 600px;
}
body{
  background-color: #F7F2EA;
  color:#1F1A17;
  font-family: "Playpen Sans", cursive;
  font-weight: 400;
}

header{
background-color: #4F6D5E;

}
/* article{
  background-color: #FFFDFC;
} */
footer{
  background-color: #c9733e;
  margin: auto;
}

img{
  display: block;
  max-width: 100%;
  height:auto;
}
header, footer {
  text-align: center;
}
main{
  padding: 20px;
  background-color: #FFFDFC;
  margin: auto auto auto auto;
}
main,header,footer{
  max-width: 1000px;
  margin: auto;;
}